In [1]:
import pandas as pd

In [2]:
esg = pd.read_excel('../prev_code/FINAL_ESG_FINAL.xlsx')

In [3]:
esg.shape

(208, 18)

In [4]:
esg = esg[12*7+1:12*7+123+2]

In [5]:
esg = esg.drop(['Unnamed: 0'], axis=1)
esg

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,risk_factor
85,0.262462,0.159144,0.225815,0.271459,0.812355,0.034200,0.478400,0.155002,0.480325,0.886391,0.528309,0.417033,0.309018,0.447178,0.379504,0.829112,0.417232
86,0.327928,0.281831,0.099829,0.163702,0.626442,0.260872,0.533062,0.135719,0.286422,0.000000,0.269636,0.404236,0.329797,0.285339,0.199975,0.829106,0.314618
87,0.406275,0.106786,0.565976,0.066941,0.401993,0.381095,0.491720,0.379726,0.985021,0.413761,0.419064,0.875484,0.376690,0.561145,0.508842,0.161751,0.443892
88,0.433528,0.297610,0.217468,0.436100,0.712012,0.931107,0.115320,0.525843,0.346459,0.625532,0.343165,0.545648,0.316377,0.270057,0.340028,0.242245,0.418656
89,0.468693,0.868662,0.070376,0.485478,0.633128,0.365941,0.608854,0.730790,0.847694,0.432404,0.579879,0.306987,0.762024,0.463153,0.392003,0.644961,0.541314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,0.629181,0.919640,0.593806,0.491310,0.348016,0.205938,0.415135,0.334962,0.100538,0.498504,0.499323,0.725464,0.239316,0.467632,0.390199,0.537692,0.462291
204,0.764978,0.039609,0.396300,0.986918,0.783010,0.200841,0.634363,0.828512,0.482999,0.407519,0.128726,0.572064,0.273065,0.340858,0.343137,0.012811,0.449732
205,0.725799,0.089457,0.059070,0.823148,0.547524,0.229812,0.098365,0.154636,0.493352,0.328354,0.918969,0.599381,0.370647,0.515296,0.424885,0.518881,0.431098
206,0.851095,0.339933,0.207450,0.438728,0.056391,0.149317,0.114870,0.141154,0.671797,0.631307,0.107977,0.371516,0.530949,0.298899,0.331737,0.658870,0.368874
207,1.000000,0.065067,0.061157,0.192171,0.054811,0.445131,0.823685,0.568799,0.135080,0.631792,0.607769,0.494633,0.435903,0.386160,0.351799,0.048705,0.393916

In [6]:
esg.shape

(123, 17)

In [7]:
rain_temp = pd.read_csv('../Data/NewDataTempRain.csv')

In [8]:
rain_temp = rain_temp.drop(['Unnamed: 0'], axis=1)

In [9]:
rain_temp

     Month-Year  Temperature    Rainfall
0    JAN-1980.0        18.81   11.377778
1    FEB-1980.0        20.47   18.519444
2    MAR-1980.0        23.24   31.355556
3    APR-1980.0        27.55   41.177778
4    MAY-1980.0        28.94   84.330556
..          ...          ...         ...
451  AUG-2017.0        28.12  277.411111
452  SEP-2017.0        28.11  191.008333
453  OCT-2017.0        27.24  103.780556
454  NOV-2017.0        23.92   22.358333
455  DEC-2017.0        21.47   25.347222

[456 rows x 3 columns]

In [10]:
rain_temp['Month-Year'] = pd.to_datetime(rain_temp['Month-Year'], format='%b-%Y.0')
rain_temp = rain_temp[(rain_temp['Month-Year'] > pd.to_datetime('2007-09-01')) & (rain_temp['Month-Year'] <= pd.to_datetime('2017-12-31'))]
rain_temp.reset_index(drop=True,inplace=True)

In [11]:
rain_temp = rain_temp[:124]

In [12]:
rain_temp = rain_temp.drop(['Month-Year'], axis=1)

In [13]:
rain_temp

     Temperature    Rainfall
0          24.92   76.216667
1          22.40   24.002778
2          19.65   18.952778
3          18.49   19.419444
4          19.83   17.788889
..           ...         ...
118        28.12  277.411111
119        28.11  191.008333
120        27.24  103.780556
121        23.92   22.358333
122        21.47   25.347222

[123 rows x 2 columns]

In [14]:
rain_temp = rain_temp[:124]

In [15]:
fundamental_data = pd.concat([rain_temp, esg], axis=1)

In [7]:
import yfinance as yf

In [8]:
def get_finance_data(ticker_symbol = None):
    if ticker_symbol is None:
        ticker_symbol = "^NSEI"
    else:
        ticker_symbol = ticker_symbol
    
    financial_data = yf.download(ticker_symbol, start='2000-01-01', end='2017-12-31', interval='1mo')

    return financial_data

In [9]:
finance_Data = get_finance_data()

[*********************100%%**********************]  1 of 1 completed

In [10]:
finance_Data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-10-01,5021.500000,5976.000000,5000.950195,5900.649902,5900.649902,0
2007-11-01,5903.799805,6011.950195,5394.350098,5762.750000,5762.750000,0
2007-12-01,5765.450195,6185.399902,5676.700195,6138.600098,6138.600098,0
2008-01-01,6136.750000,6357.100098,4448.500000,5137.450195,5137.450195,0
2008-02-01,5140.600098,5545.200195,4803.600098,5223.500000,5223.500000,0
...,...,...,...,...,...,...
2017-08-01,10101.049805,10137.849609,9685.549805,9917.900391,9917.900391,4168000
2017-09-01,9937.650391,10178.950195,9687.549805,9788.599609,9788.599609,4165300
2017-10-01,9893.299805,10384.500000,9831.049805,10335.299805,10335.299805,4500300
2017-11-01,10390.349609,10490.450195,10094.000000,10226.549805,10226.549805,4650900
2017-12-01,10263.700195,10552.400391,10033.349609,10530.700195,10530.700195,3504400

In [11]:
finance_Data.reset_index(inplace=True)

In [12]:
finance_Data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [13]:
x = finance_Data['Date']
x.to_csv('DataDates.csv')

In [20]:
finance_Data = finance_Data.reset_index()
finance_Data = finance_Data.drop(['Date'], axis=1)

In [21]:
finance_Data.isna().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [22]:
esg.reset_index(drop=True, inplace=True)
finance_Data.reset_index(drop=True, inplace=True)
final_merge = pd.concat([esg, finance_Data], axis=1)

In [32]:
final_merge = pd.concat([esg, rain_temp, finance_Data], axis=1)

In [33]:
final_merge

,0,1,2,3,4,5,6,7,8,9,...,15,risk_factor,Temperature,Rainfall,Open,High,Low,Close,Adj Close,Volume
0,0.262462,0.159144,0.225815,0.271459,0.812355,0.034200,0.478400,0.155002,0.480325,0.886391,...,0.829112,0.417232,24.92,76.216667,5021.500000,5976.000000,5000.950195,5900.649902,5900.649902,0
1,0.327928,0.281831,0.099829,0.163702,0.626442,0.260872,0.533062,0.135719,0.286422,0.000000,...,0.829106,0.314618,22.40,24.002778,5903.799805,6011.950195,5394.350098,5762.750000,5762.750000,0
2,0.406275,0.106786,0.565976,0.066941,0.401993,0.381095,0.491720,0.379726,0.985021,0.413761,...,0.161751,0.443892,19.65,18.952778,5765.450195,6185.399902,5676.700195,6138.600098,6138.600098,0
3,0.433528,0.297610,0.217468,0.436100,0.712012,0.931107,0.115320,0.525843,0.346459,0.625532,...,0.242245,0.418656,18.49,19.419444,6136.750000,6357.100098,4448.500000,5137.450195,5137.450195,0
4,0.468693,0.868662,0.070376,0.485478,0.633128,0.365941,0.608854,0.730790,0.847694,0.432404,...,0.644961,0.541314,19.83,17.788889,5140.600098,5545.200195,4803.600098,5223.500000,5223.500000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,0.629181,0.919640,0.593806,0.491310,0.348016,0.205938,0.415135,0.334962,0.100538,0.498504,...,0.537692,0.462291,28.12,277.411111,10101.049805,10137.849609,9685.549805,9917.900391,9917.900391,4168000
119,0.764978,0.039609,0.396300,0.986918,0.783010,0.200841,0.634363,0.828512,0.482999,0.407519,...,0.012811,0.449732,28.11,191.008333,9937.650391,10178.950195,9687.549805,9788.599609,9788.599609,4165300
120,0.725799,0.089457,0.059070,0.823148,0.547524,0.229812,0.098365,0.154636,0.493352,0.328354,...,0.518881,0.431098,27.24,103.780556,9893.299805,10384.500000,9831.049805,10335.299805,10335.299805,4500300
121,0.851095,0.339933,0.207450,0.438728,0.056391,0.149317,0.114870,0.141154,0.671797,0.631307,...,0.658870,0.368874,23.92,22.358333,10390.349609,10490.450195,10094.000000,10226.549805,10226.549805,4650900
122,1.000000,0.065067,0.061157,0.192171,0.054811,0.445131,0.823685,0.568799,0.135080,0.631792,...,0.048705,0.393916,21.47,25.347222,10263.700195,10552.400391,10033.349609,10530.700195,10530.700195,3504400

In [25]:
final_merge.isna().sum()

0              0
1              0
2              0
3              0
4              0
5              0
6              0
7              0
8              0
9              0
10             0
11             0
12             0
13             0
14             0
15             0
risk_factor    0
Open           0
High           0
Low            0
Close          0
Adj Close      0
Volume         0
dtype: int64

In [35]:
final_merge = final_merge.drop(['Volume'], axis=1)

In [36]:
from sklearn.preprocessing import MinMaxScaler

In [43]:
for column in final_merge:
    if column != 'Date':
        column_data = final_merge[[column]].values
        final_merge[column] = MinMaxScaler().fit_transform(column_data)

In [44]:
final_merge

,0,1,2,3,4,5,6,7,8,9,...,14,15,risk_factor,Temperature,Rainfall,Open,High,Low,Close,Adj Close
0,0.0,0.163145,0.221199,0.269190,0.811113,0.034200,0.478400,0.129092,0.480325,0.886391,...,0.380972,0.834948,0.533296,0.545827,0.186578,0.296829,0.396464,0.350480,0.404541,0.404541
1,0.0,0.288917,0.094244,0.161097,0.621521,0.260872,0.533062,0.109217,0.286422,0.000000,...,0.199260,0.834942,0.187728,0.339607,0.043261,0.412386,0.401205,0.400650,0.386806,0.386806
2,0.0,0.109470,0.563978,0.064036,0.392630,0.381095,0.491720,0.360707,0.985021,0.413761,...,0.511882,0.162379,0.623078,0.114566,0.029400,0.394266,0.424080,0.436659,0.435143,0.435143
3,0.0,0.305092,0.212788,0.434344,0.708784,0.931107,0.115320,0.511304,0.346459,0.625532,...,0.341016,0.243501,0.538093,0.019640,0.030681,0.442896,0.446724,0.280026,0.306388,0.306388
4,0.0,0.890501,0.064565,0.483875,0.628338,0.365941,0.608854,0.722536,0.847694,0.432404,...,0.393623,0.649360,0.951165,0.129296,0.026205,0.312428,0.339650,0.325312,0.317455,0.317455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,0.0,0.942761,0.592022,0.489726,0.337584,0.205938,0.415135,0.314570,0.100538,0.498504,...,0.391796,0.541254,0.685041,0.807692,0.738817,0.962110,0.945329,0.947910,0.921189,0.921189
119,0.0,0.040605,0.392997,0.986877,0.781187,0.200841,0.634363,0.823253,0.482999,0.407519,...,0.344163,0.012276,0.642746,0.806874,0.501658,0.940709,0.950749,0.948165,0.904560,0.904560
120,0.0,0.091706,0.053171,0.822598,0.541041,0.229812,0.098365,0.128714,0.493352,0.328354,...,0.426905,0.522296,0.579994,0.735679,0.262235,0.934900,0.977857,0.966466,0.974870,0.974870
121,0.0,0.348479,0.202694,0.436980,0.040188,0.149317,0.114870,0.114818,0.671797,0.631307,...,0.332624,0.663377,0.370444,0.463993,0.038747,1.000000,0.991830,1.000000,0.960884,0.960884
122,1.0,0.066703,0.055275,0.189655,0.038577,0.445131,0.823685,0.555577,0.135080,0.631792,...,0.352930,0.048451,0.454778,0.263502,0.046951,0.983412,1.000000,0.992265,1.000000,1.000000

In [45]:
final_merge.to_csv('../Model/Training_Data/final.csv')

In [46]:
esg.to_csv('../Model/Training_Data/esg.csv')

In [48]:
rain_temp.to_csv('../Model/Training_Data/rain_temp.csv')

In [49]:
finance_Data.to_csv('../Model/Training_Data/financial_data.csv')