In [1]:
import pandas as pd

In [54]:
data=pd.read_excel(r"C:\Users\narne\OneDrive\Desktop\CRFPI1_dataset_v1.0.xlsx")

In [55]:
data.head()

,Country,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,y2008,...,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,y2020
0,Argentina,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,6.666667,6.666667,6.666667,13.333333,13.333333,13.333333
1,Australia,0,20,20,20.0,20.0,20.0,20.0,20.0,20.0,...,20.000000,20.000000,40.000000,40.000000,40.000000,60.000000,66.666667,66.666667,73.333333,73.333333
2,Austria,0,0,0,0.0,0.0,20.0,20.0,20.0,20.0,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,33.333333,40.000000,40.000000
3,Bahrain,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.666667
4,Bangladesh,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,33.333333,33.333333,33.333333,33.333333,33.333333,46.666667,46.666667,46.666667,46.666667,46.666667

In [56]:
data2=pd.read_excel(r"C:\Users\narne\OneDrive\Desktop\CRFPI2_dataset_v1.0.xlsx")

In [57]:
data2.head()

,Country,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,y2008,...,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,y2020
0,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.7,3.7,3.7,7.4,7.4,7.4
1,Australia,0.0,11.1,11.1,11.1,11.1,11.1,11.1,11.1,11.1,...,11.1,11.1,22.2,22.2,22.2,33.3,44.4,44.4,55.5,55.5
2,Austria,0.0,0.0,0.0,0.0,0.0,11.1,11.1,11.1,11.1,...,11.1,11.1,11.1,11.1,11.1,11.1,11.1,18.5,22.2,22.2
3,Bahrain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.7
4,Bangladesh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48.1,48.1,48.1,48.1,48.1,55.5,55.5,55.5,55.5,55.5

In [6]:
data["Country"].unique

<bound method Series.unique of 0                    Argentina
1                    Australia
2                      Austria
3                      Bahrain
4                   Bangladesh
                ...
69                     Ukraine
70        United Arab Emirates
71              United Kingdom
72    United States of America
73                    Viet Nam
Name: Country, Length: 74, dtype: object>

In [7]:
data[data["Country"]=="India"]

,Country,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,y2008,...,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,y2020
29,India,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.333333,33.333333,33.333333,33.333333,53.333333,53.333333,53.333333,53.333333,53.333333,53.333333

In [31]:
data3=pd.read_csv(r"C:\Users\narne\OneDrive\Desktop\DS-1 ESG.csv")

In [53]:
df=data3[data3["Country Code"]=="IND"].reset_index(drop=True)
df["Indicator Name"].unique()

array(['Access to clean fuels and technologies for cooking (% of population)',
       'Access to electricity (% of population)',
       'Adjusted savings: natural resources depletion (% of GNI)',
       'Adjusted savings: net forest depletion (% of GNI)',
       'Agricultural land (% of land area)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Annualized average growth rate in per capita real survey mean consumption or income, total population (%)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Children in employment, total (% of children ages 7-14)',
       'CO2 emissions (metric tons per capita)',
       'Control of Corruption: Estimate',
       'Cooling Degree Days (projected change in number of degree Celsius)',
       'Droughts, floods, extreme temperatures (% of population, average 1990-2009)',
       'Ease of doing business index (1=most business-friendly regulations)',
       'Electricity production from coal sources (% of total)',
       'Energy imports, net (% of energy use)',
       'Energy intensity level of primary energy (MJ/$2011 PPP GDP)',
       'Energy use (kg of oil equivalent per capita)',
       'Fertility rate, total (births per woman)',
       'Food production index (2004-2006 = 100)',
       'Forest area (% of land area)',
       'Fossil fuel energy consumption (% of total)',
       'GDP growth (annual %)',
       'GHG net emissions/removals by LUCF (Mt of CO2 equivalent)',
       'Gini index (World Bank estimate)',
       'Government Effectiveness: Estimate',
       'Government expenditure on education, total (% of government expenditure)',
       'Heat Index 35 (projected change in days)',
       'Hospital beds (per 1,000 people)',
       'Income share held by lowest 20%',
       'Individuals using the Internet (% of population)',
       'Labor force participation rate, total (% of total population ages 15-64) (modeled ILO estimate)',
       'Life expectancy at birth, total (years)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Mammal species, threatened',
       'Maximum 5-day Rainfall, 25-year Return Level (projected change in mm)',
       'Mean Drought Index (projected change, unitless)',
       'Methane emissions (metric tons of CO2 equivalent per capita)',
       'Mortality rate, under-5 (per 1,000 live births)', 'Net migration',
       'Nitrous oxide emissions (metric tons of CO2 equivalent per capita)',
       'Patent applications, residents',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed sanitation services (% of population)',
       'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)',
       'Political Stability and Absence of Violence/Terrorism: Estimate',
       'Population ages 65 and above (% of total population)',
       'Population density (people per sq. km of land area)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Prevalence of overweight (% of adults)',
       'Prevalence of undernourishment (% of population)',
       'Proportion of seats held by women in national parliaments (%)',
       'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)',
       'Regulatory Quality: Estimate',
       'Renewable electricity output (% of total electricity output)',
       'Renewable energy consumption (% of total final energy consumption)',
       'Research and development expenditure (% of GDP)',
       'Rule of Law: Estimate', 'School enrollment, primary (% gross)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'Scientific and technical journal articles',
       'Strength of legal rights index (0=weak to 12=strong)',
       'Terrestrial and marine protected areas (% of total territorial area)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Unmet need for contraception (% of married women ages 15-49)',
       'Voice and Accountability: Estimate'], dtype=object)

In [35]:
data4=pd.read_csv(r"C:\Users\narne\OneDrive\Desktop\DS-2 ESG.csv")

In [37]:
data4[data4["Country Code"]=="IND"]

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
95,IND,India,India,Republic of India,IN,Indian rupee,Fiscal year end: March 31; reporting period fo...,South Asia,Lower middle income,IN,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2011/12",NaN,2010-2011,2014.0,2017.0,NaN

In [51]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.33-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.1.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.26.3)
Requirement already satisfied: requests>=2.31 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting lxml>=4.9.1 (from yfinance)
  Downloading lxml-5.0.0-cp311-cp311-win_amd64.whl.metadata (6.9 kB)
Collecting appdirs>=1.4.4 (from yfinance)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: pytz>=2022.5 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.0.tar.gz (314 kB)
     ---------------------------------------- 0.0/314.6 kB ? eta -:--:--
     ---- -------------------------------- 41.0/314.6 kB 960.0 kB/s eta 0:00:01
     ------------- ------------------------ 112.6/314.6 kB 1.6 MB/s eta 0:00:01
     ---------------------------------- --- 286.7/314.6 kB 2.5 MB/s eta 0:00:01
     -------------------------------------- 314.6/314.6 kB 2.2 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.0.tar.gz (2.9 MB)
     ---------------------------------------- 0.0/2.9 MB ? eta -:--:--
     -- ------------------------------------- 0.2/2.9 MB 10.2 MB/s eta 0:00:01
     ----- ---------------------------------- 0.4/2.9 MB 6.7 MB/s eta 0:00:01
     ------ --------------------------------- 0.5/2.9 MB 6.0 MB/s eta 0:00:01
     ------------- -------------------------- 1.0/2.9 MB 7.1 MB/s eta 0:00:01
     ---------------- ----------------------- 1.2/2.9 MB 5.8 MB/s eta 0:00:01
     --------------------- ------------------ 1.6/2.9 MB 6.6 MB/s eta 0:00:01
     ------------------------- -------------- 1.9/2.9 MB 6.4 MB/s eta 0:00:01
     -------------------------------- ------- 2.4/2.9 MB 7.2 MB/s eta 0:00:01
     ------------------------------------- -- 2.8/2.9 MB 7.4 MB/s eta 0:00:01
     ---------------------------------------- 2.9/2.9 MB 7.0 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
     ---------------------------------------- 112.2/112.2 kB ? eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\narne\appdata\roaming\python\python311\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\narne\appdata\roaming\python\python311\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\narne\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)
Downloading yfinance-0.2.33-py2.py3-none-any.whl (69 kB)
   ---------------------------------------- 0.0/69.0 kB ? eta -:--:--
   ----------------------------------- ---- 61.4/69.0 kB ? eta -:--:--
   ---------------------------------------- 69.0/69.0 kB 753.5 kB/s eta 0:00:00
Downloading lxml-5.0.0-cp311-cp311-win_amd64.whl (3.9 MB)
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.9 MB 16.8 MB/s eta 0:00:01
   ---------- ----------------------------- 1.0/3.9 MB 13.3 MB/s eta 0:00:01
   -------------- ------------------------- 1.4/3.9 MB 12.6 MB/s eta 0:00:01
   ------------------- -------------------- 2.0/3.9 MB 12.5 MB/s eta 0:00:01
   ------------------------- -------------- 2.5/3.9 MB 11.4 MB/s eta 0:00:01
   ------------------------------ --------- 3.0/3.9 MB 11.2 MB/s eta 0:00:01
   ---------------------------------- ----- 3.4/3.9 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------  3.9/3.9 MB 10.8 MB/s eta 0:00:01
   ---------------------------------------- 3.9/3.9 MB 10.4 MB/s eta 0:00:00
Building wheels for collected packages: frozendict, peewee
  Building wheel for frozendict (pyproject.toml): started
  Building wheel for frozendict (pyproject.toml): finished with status 'done'
  Created wheel for frozendict: filename=frozendict-2.4.0-py3-none-any.whl size=15471 sha256=c85197f06e7dd3ebd201ae70976c2807bee305ffe86c0a85a6117fa81cedc6f2
  Stored in directory: c:\users\narne\appdata\local\pip\cache\wheels\31\dd\81\a814e6f8cde8a1bbc1f088fdc273943371f10478b91a605e14
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.0-py3-none-any.whl size=135766 sha256=b14493594c14c507155b2f0e3bab2a74875fba866b761df77be4fcacb476ad19
  Stored in directory: c:\users\narne\appdata\local\pip\cache\wheels\02\20\23\74a10d0cd31f5d41c19b92ddf4c138ceff01b9f4675f19dbf5
Successfully built frozendict peewee
Installing collected packages: peewee, multitasking, appdirs, lxml, html5lib, frozendict, yfinance
Successfully installed appdirs-1.4.4 frozendict-2.4.0 html5lib-1.1 lxml-5.0.0 multitasking-0.0.11 peewee-3.17.0 yfinance-0.2.33

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip