In [89]:
import pandas as pd

In [90]:
da=pd.read_excel(r"C:\Users\narne\OneDrive\Desktop\ESG_FINAL.xlsx")

In [91]:
da=da[:215]
da

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0,5.287154e+10,-3.934242e+09,-1.097622e+08,5.068012e+08,-6.808052e+07,-9.181123e+06,-1.788650e+06,-277359.203189,-53068.338197,0.289897,0.305764,0.058243,-0.044589,0.012176,0.023198,0.009522,-5.775873e-09
1,1,-6.835161e+07,-1.054322e+07,-6.521515e+05,-5.577688e+06,-2.548844e+07,-9.364295e+07,-3.159888e+06,894160.944969,46156.340044,-12.645116,-8.592221,-13.600140,0.356963,-2.317262,-2.252486,0.877104,1.066340e-10
2,2,-6.835220e+07,-1.053890e+07,-6.387424e+05,-5.557683e+06,-2.535346e+07,-9.314960e+07,-2.958163e+06,93703.607626,86870.164255,2.194906,13.079887,13.992455,-2.090840,2.401725,2.400834,-0.415727,-3.620199e-09
3,3,2.141045e+09,7.322731e+09,-1.916295e+08,-2.608308e+08,-5.579962e+07,-7.993821e+07,3.123906e+05,-884069.904230,12297.951839,21.719453,-7.646871,-9.838755,0.098218,2.167798,1.932580,-0.850314,-7.949764e-09
4,4,1.940642e+09,6.657715e+09,-1.739835e+08,-2.371856e+08,-4.978983e+07,-6.927701e+07,1.432818e+06,107867.670935,-52171.889755,-5.021373,-6.075392,11.054522,0.889339,-8.399334,-2.253322,-0.155636,-2.754618e-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,210,-2.576671e+10,-4.977029e+08,1.551444e+09,4.866068e+08,-1.887632e+08,3.940033e+07,-1.465421e+06,-195134.196924,-28047.617843,8.116919,-8.451590,1.617272,0.194896,-0.854775,0.996595,1.291603,-2.053074e-08
211,211,-2.149120e+10,-5.543017e+08,1.473037e+09,4.280517e+08,-1.480456e+08,3.794310e+07,-1.441870e+06,-229914.301992,-30268.860227,5.744426,-11.131148,1.919827,0.207753,-0.832570,0.842958,1.214351,-1.012586e-08
212,212,-2.909130e+10,-6.367123e+08,1.853866e+09,4.422291e+08,-1.479523e+08,4.239785e+07,-1.879197e+06,-218039.656242,-29534.309136,7.319620,-12.009719,1.529177,0.137421,-1.015609,0.931868,1.149099,6.467521e-09
213,213,-2.291544e+10,-6.517215e+08,2.055011e+09,4.332874e+08,-1.729065e+08,3.574988e+07,-1.496716e+06,-210905.407818,-31202.842059,6.565818,-11.100562,2.144821,0.185677,-0.902454,1.125897,1.117725,-1.035382e-08
214,214,-2.888305e+10,-5.616270e+08,1.827926e+09,4.789557e+08,-1.926206e+08,4.053160e+07,-1.979484e+06,-218997.915620,-30546.583456,7.625402,-9.606200,1.752457,0.216262,-1.059880,1.064349,1.132989,1.126639e-08

In [92]:
df=pd.read_csv("NewDataTempRain")
import re

In [93]:
df=df.drop(['Unnamed: 0'],axis=1)

In [94]:
df

     Month-Year  Temperature    Rainfall
0    JAN-1980.0        18.81   11.377778
1    FEB-1980.0        20.47   18.519444
2    MAR-1980.0        23.24   31.355556
3    APR-1980.0        27.55   41.177778
4    MAY-1980.0        28.94   84.330556
..          ...          ...         ...
451  AUG-2017.0        28.12  277.411111
452  SEP-2017.0        28.11  191.008333
453  OCT-2017.0        27.24  103.780556
454  NOV-2017.0        23.92   22.358333
455  DEC-2017.0        21.47   25.347222

[456 rows x 3 columns]

In [95]:
import pandas as pd
df['Month-Year'] = pd.to_datetime(df['Month-Year'], format='%b-%Y.0')
filtered_df = df[df['Month-Year'] > '2000-01-01']
filtered_df.reset_index(drop=True,inplace=True)

In [96]:
filtered_df

    Month-Year  Temperature    Rainfall
0   2000-02-01        19.78   27.751429
1   2000-03-01        23.22   22.922222
2   2000-04-01        27.27   47.363889
3   2000-05-01        28.92  106.330556
4   2000-06-01        28.02  246.022222
..         ...          ...         ...
210 2017-08-01        28.12  277.411111
211 2017-09-01        28.11  191.008333
212 2017-10-01        27.24  103.780556
213 2017-11-01        23.92   22.358333
214 2017-12-01        21.47   25.347222

[215 rows x 3 columns]

In [97]:
new_data=pd.concat([filtered_df,da],axis=1)

In [98]:
new_data.columns

Index([ 'Month-Year', 'Temperature',    'Rainfall',  'Unnamed: 0',
                   0,             1,             2,             3,
                   4,             5,             6,             7,
                   8,             9,            10,            11,
                  12,            13,            14,            15,
                  16],
      dtype='object')

In [99]:
new_data=new_data.drop([ 'Unnamed: 0'],axis=1)

In [100]:
new_data

,Month-Year,Temperature,Rainfall,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,2000-02-01,19.78,27.751429,5.287154e+10,-3.934242e+09,-1.097622e+08,5.068012e+08,-6.808052e+07,-9.181123e+06,-1.788650e+06,-277359.203189,-53068.338197,0.289897,0.305764,0.058243,-0.044589,0.012176,0.023198,0.009522,-5.775873e-09
1,2000-03-01,23.22,22.922222,-6.835161e+07,-1.054322e+07,-6.521515e+05,-5.577688e+06,-2.548844e+07,-9.364295e+07,-3.159888e+06,894160.944969,46156.340044,-12.645116,-8.592221,-13.600140,0.356963,-2.317262,-2.252486,0.877104,1.066340e-10
2,2000-04-01,27.27,47.363889,-6.835220e+07,-1.053890e+07,-6.387424e+05,-5.557683e+06,-2.535346e+07,-9.314960e+07,-2.958163e+06,93703.607626,86870.164255,2.194906,13.079887,13.992455,-2.090840,2.401725,2.400834,-0.415727,-3.620199e-09
3,2000-05-01,28.92,106.330556,2.141045e+09,7.322731e+09,-1.916295e+08,-2.608308e+08,-5.579962e+07,-7.993821e+07,3.123906e+05,-884069.904230,12297.951839,21.719453,-7.646871,-9.838755,0.098218,2.167798,1.932580,-0.850314,-7.949764e-09
4,2000-06-01,28.02,246.022222,1.940642e+09,6.657715e+09,-1.739835e+08,-2.371856e+08,-4.978983e+07,-6.927701e+07,1.432818e+06,107867.670935,-52171.889755,-5.021373,-6.075392,11.054522,0.889339,-8.399334,-2.253322,-0.155636,-2.754618e-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,2017-08-01,28.12,277.411111,-2.576671e+10,-4.977029e+08,1.551444e+09,4.866068e+08,-1.887632e+08,3.940033e+07,-1.465421e+06,-195134.196924,-28047.617843,8.116919,-8.451590,1.617272,0.194896,-0.854775,0.996595,1.291603,-2.053074e-08
211,2017-09-01,28.11,191.008333,-2.149120e+10,-5.543017e+08,1.473037e+09,4.280517e+08,-1.480456e+08,3.794310e+07,-1.441870e+06,-229914.301992,-30268.860227,5.744426,-11.131148,1.919827,0.207753,-0.832570,0.842958,1.214351,-1.012586e-08
212,2017-10-01,27.24,103.780556,-2.909130e+10,-6.367123e+08,1.853866e+09,4.422291e+08,-1.479523e+08,4.239785e+07,-1.879197e+06,-218039.656242,-29534.309136,7.319620,-12.009719,1.529177,0.137421,-1.015609,0.931868,1.149099,6.467521e-09
213,2017-11-01,23.92,22.358333,-2.291544e+10,-6.517215e+08,2.055011e+09,4.332874e+08,-1.729065e+08,3.574988e+07,-1.496716e+06,-210905.407818,-31202.842059,6.565818,-11.100562,2.144821,0.185677,-0.902454,1.125897,1.117725,-1.035382e-08
214,2017-12-01,21.47,25.347222,-2.888305e+10,-5.616270e+08,1.827926e+09,4.789557e+08,-1.926206e+08,4.053160e+07,-1.979484e+06,-218997.915620,-30546.583456,7.625402,-9.606200,1.752457,0.216262,-1.059880,1.064349,1.132989,1.126639e-08